@import "tailwindcss";

@theme {
  --color-primary: #ff6c1f; /*orange*/
  --color-secondary: #ffeee0; /*background*/
  --color-secondaryLight: #f9f4f0; /*background-light*/
  --color-secondaryLight: #f9f4f0; /*background-light*/
  --color-dark: #f9f4f0; /*gray shade*/
}

* {
  font-family: "Poppins", sans-serif;
}
