@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");


@import "tailwindcss";



@theme {
  --color-primary: #ff6c1f; /*orange*/
  --color-secondary: #ffeee0; /*background*/
  --color-secondaryLight: #f9f4f0; /*background-light*/
  --font-urbanist: "Urbanist", sans-serif;
}

html {
  font-family: "Mulish", sans-serif;
  background-color: #f9f4f0;
}

.image-drop-shadow {
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.5));
}
